{% extends "base.html" %}
{% block content %}

    <form method="post">
      {% csrf_token %}
        {{ form }}
            Введите адрес электронной почты
            <input type="email" name="login" value=""/>
    </form>

    <h4>Пользователи:</h4>
    {% if user_info %}
        {% for useremail in user_info %}
            <p>{{ useremail.name_person }}{{ useremail.email_person }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}