<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<style type="text/css">
    .block {
        margin: 0 25% 0 25%;
        width: 50%;
    }
</style>

<body>


<div class="block">
    <h3>Рассылка новых поступлений</h3>
    {% block content %}

    {% endblock %}
</div>

</body>
</html>